body {
    background: rgb(197, 192, 192);
    font: normal 15pt Arial;
}
section {
    background: rgb(235, 248, 230);
    border-radius: 5px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(78, 65, 65, 0.178);
}
header {
    color: white;
    text-align: center;
}

footer {
    color: white;
    font-style: italic;
    text-align: center;
}
#msg, #res, .foto {
    text-align: center;
}
#res {
    margin-top: 10px;
}
#imagem {
    margin-top: 15px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
}